<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>all posts - admin panel</title>
</head>
<body>
    admin panel <a href="/admin/new">create new post</a>

    <% for(i=0; i<data.length; i++) {%>
        <div class="container">
            <a href="/post/<%= data[i].id %>"><%= i+1 %>. <%= data[i].title %></a> <span onclick="deleteHandler('<%= i %>')" style="margin-left: 2rem;">delete</span>
        </div>
     <% } %>
    
     <script>
        function deleteHandler(index) {
            fetch(`<%= api %>/?key=<%= key %>&index=${index}`, { method: 'DELETE'})
                .then(res => res.json())
                .then(res => location.reload())
        }
     </script>
</body>
</html>